# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: 'Data Science and Decision Making: An Elementary Introduction to Modeling and Optimization'
author: 'David B. Shmoys, Samuel C. Gutekunst, Frans Schalekamp, and David P. Williamson'
copyright: "2022"
only_build_toc_files: true

sphinx:
  config:
    # Specifying the language can improve accessibility in screen readers
    # and translators
    language: en
    # All files from these paths will be included in the generated
    # HTML output, even if they are not linked from any page
    # TODO: Unknown if we will need this
    # html_extra_path: ['assets']
    # By default MathJax version 2 is currently used.
    # MathJax version 3 is recommended for projects with lots of math
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: cache

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
# TODO: Uncomment when bib file is added
# bibtex_bibfiles:
#   - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.coecis.cornell.edu/hwr26/engri-1101-labs # Online location of your book
  path_to_book: src  # Optional path to your book, relative to the repository root
  branch: textbook  # Which branch of the repository should be used when creating links (optional)

launch_buttons:
  thebe: true
  # To disable Binder launch, comment out the Thebe line above and uncomment
  # the binderhub_url line below.
  # binderhub_url: ""

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  home_page_in_navbar: false
  use_issues_button: true
  use_repository_button: true
  use_edit_page_button: true
  comments:
    hypothesis: true
